link(rel="shortcut icon" href="http://www.jiajia1.com/logo.ico?v=2015")
link(rel="stylesheet" type="text/css" href="/libs/bower_components/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="/stylesheets/style.css" )
script(type="text/javascript" src="/libs/bower_components/jquery/dist/jquery.min.js")
script(type="text/javascript" src="/libs/bower_components/bootstrap/dist/js/bootstrap.min.js")
